block globals

doctype html
html(lang="en")
  head
    title #{title}
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Favicons
    link(rel="apple-touch-icon" href="dist/images/apple-touch-icon.png" sizes="180x180")
    link(rel="icon" href="dist/images/favicon-32x32.png" sizes="32x32" type="image/png")
    link(rel="icon" href="dist/images/favicon-16x16.png" sizes="16x16" type="image/png")
    link(rel="icon" href="dist/images/favicon.ico")
    block styles
        link(rel="stylesheet" type="text/css" media="screen" href="dist/styles/app.css")
        link(rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css")

    body(id=(body_id || 'default-page'), class=(body_class || 'theme-default'))
        div#wrapper
            nav.header
                .navbar-header
                  nav.nav
                    a#sidebartoggler.btn.btn-link.sidebartoggler.nav-link.d-block.d-sm-none.d-md-none(href="#")
                            i.fas.fa-bars
                    a(class="brand nav-link" href="./dashboard.html")
                      svg(id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                          defs
                            symbol#name
                              path(fill="#969696" d="M0,19.9c0-2.9,2.8-5,5.9-5h1.7c0.7,0,1.7-0.4,1.7-1.2c0-1.2-1.3-2.4-3.1-2.4c-1.2,0-2.2,0.5-3.5,2.3L0.6,12\
                              c1.3-2.1,3.6-3.3,5.6-3.3c3,0,5.7,2.2,5.7,5v6.2c0,2.9-2.8,5-5.9,5C2.8,24.9,0,22.8,0,19.9z M2.6,19.9c0,1.3,1.5,2.5,3.4,2.5\
                              c1.9,0,3.4-1.2,3.4-2.5V17c0,0-0.2,0.5-3.4,0.4C4.1,17.4,2.6,18.6,2.6,19.9z")
                              path(fill="#969696" d="M26.6,8.7v16.4c0,2.9-2.7,5.2-5.7,5.2c-1.7,0-4.3-0.9-5.6-3.3l2.1-1.5c0.8,1.6,2.3,2.3,3.4,2.3\
                              c1.7,0,3.1-1.1,3.1-2.4c0-0.4-0.3-0.6-0.9-0.6h-0.6c-4.3,0-7.9-3.6-7.9-8c0-4.4,3.6-8,7.9-8H26.6z M24.1,22.2V11.1h-1.4\
                              c-2.9,0-5.3,2.4-5.3,5.4c0,3,2.4,5.5,5.5,5.5C23.7,22.1,24.1,22.2,24.1,22.2z")
                              path(fill="#969696" d="M31.1,24.9V15c0-3.4,2.6-6.3,5.9-6.3h0.6v2.6h-0.6c-1.8,0-3.3,1.6-3.3,3.7v9.9H31.1z")
                              path(fill="#969696" d="M38.9,16.8c0-4.4,3.1-8.2,7-8.2c4.3,0,7,4.1,7,8.2c0,4.4-3.1,8.1-7,8.1C41.7,24.9,38.9,20.9,38.9,16.8z\
                              M41.4,16.8c0,3.2,2.1,5.6,4.5,5.6c2.4,0,4.5-2.4,4.5-5.6c0-3.2-2.1-5.6-4.5-5.6C43.5,11.2,41.4,13.6,41.4,16.8z")
                              path(fill="#969696" d="M73.4,24.5v-9.9c0-2.4-1.7-4.3-3.8-4.3s-3.8,1.9-3.8,4.3v9.9h-1.8v-9.9c0-3.4,2.6-6.1,5.7-6.1\
                              c3.1,0,5.7,2.8,5.7,6.1v9.9H73.4z")
                              path(fill="#969696" d="M78.7,16.7c0-4.4,2.8-8.2,6.6-8.2c3,0,5,1.7,5,4c0,2.5-2.4,4.3-5.7,4.3h-3.6c-0.4,0-0.5,0.5-0.5,0.6\
                              c0,2.3,2.2,5.2,4.7,5.2c1.5,0,2.7-0.5,3.9-2.2l1.5,1.1c-1.3,1.8-2.7,3-5.4,3C81.3,24.5,78.7,20.8,78.7,16.7z M80.6,14.9\
                              c0.3-0.1,0.4-0.1,0.4-0.1h3.6c2.3,0,3.8-1,3.8-2.4c0-1-0.9-2.1-3.2-2.1C83.1,10.3,81.2,12.3,80.6,14.9z")
                              path(fill="#969696" d="M99.7,22.6h0.3v1.9h-0.3c-3.1,0-5.7-2.8-5.7-6.2V3h1.8v5.8c0.3-0.1,0.5-0.1,0.8-0.1h3.3v1.9h-3.3\
                              c-0.8,0-0.8,0.4-0.8,0.6v7.1C95.9,20.7,97.6,22.6,99.7,22.6z")
                            symbol#circles
                              path(fill="#1491a0" d="M57.2,6.2c-1.7,0.4-2.7,2.1-2.3,3.8c0.4,1.7,2.1,2.8,3.8,2.4c1.7-0.4,2.7-2.1,2.3-3.8\
                              C60.5,6.9,58.9,5.8,57.2,6.2z")
                              path(fill="#f0e11e" d="M46.5,2c0.2,0.8,0.9,1.3,1.7,1.1c0.8-0.2,1.2-1,1.1-1.7c-0.2-0.8-0.9-1.3-1.7-1.1C46.8,0.5,46.3,1.3,46.5,2z")
                              path(fill="#3c960a" d="M51.7,1.6c-0.7,1.1-0.3,2.6,0.8,3.3c1.1,0.7,2.6,0.4,3.2-0.8C56.4,3,56,1.5,54.9,0.8\
                              C53.8,0.1,52.4,0.5,51.7,1.6z")
                          svg#wide(viewbox="0 0 100 30")
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#name")
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#circles")
                          svg#square(preserveAspectRatio="xMidYMin slice" viewbox="0 0 107 13")
                            use(xlink:href="#circles")
                ul.nav.float-right
                    li.nav-item.dropdown.notifications.new
                        a.nav-link(href="" data-toggle="dropdown" aria-expanded="false")
                            i.far.fa-bell
                            sup
                                span.counter 7
                        .dropdown-menu
                            a.dropdown-item.active(href="#") Link
                            a.dropdown-item(href="#") Link
                            a.dropdown-item(href="#") Link
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="" data-toggle="dropdown" aria-expanded="false")
                          .profile-img
                            img(src="dist/images/foto.png" alt="user")
                          span.name  Marcial Soto 
                        .dropdown-menu(x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;")
                            a.dropdown-item.active(href="#") Link
                            a.dropdown-item(href="#") Link
                            a.dropdown-item(href="#") Link
                            a.dropdown-item(href="#") Salir
            section#content
                nav#sidebar.main-nav(data-simplebar)
                    .user-profile
                        .profile-img
                            img(src="dist/images/foto.png" alt="user")
                        .profile-menu
                            h5 Marcial Soto
                            small OA-UTI
                    mixin mainmenu(activeItem, activeItemChild)
                        -var menuItems = [{name: 'Inicio', href: './dashboard.html', icon: 'fas fa-home', isActive: false, child: null}, {name: 'Contenido', href :'contenido', icon: 'fas fa-edit', isActive: false, child: [{name: 'Botones', href: './buttons.html', isActive: false, child: null}, {name: 'CDN', href: './cdn.html', isActive: false, child: null}, {name: 'Gráficas', href: './charts.html', isActive: false, child: null}, {name: 'Formularios', href: './forms.html', isActive: false, child: null}, {name: 'Formularios 2', href: './forms-2.html', isActive: false, child: null}, {name: 'Íconos', href: './icons.html', isActive: false, child: null}, {name: 'Iframe', href: './iframe.html', isActive: false, child: null}, {name: 'Login', href: './index.html', isActive: false, child: null}, {name: 'Modales', href: './modals.html', isActive: false, child: null}, {name: 'Spinners', href: './spinners.html', isActive: false, child: null}, {name: 'Tablas', href: './tables.html', isActive: false, child: null}, {name: 'Tipografía', href: './typo.html', isActive: false, child: null}]}, {name: 'Sistemas', href: '#', icon: 'fab fa-app-store', isActive: false, child: null}]

                        ul.nav.flex-column.components    
                            each val, index in menuItems
                                li.nav-item
                                    if menuItems[index].name === activeItem
                                        if val.child == null
                                            a.nav-link.active(href=val.href, title=val.name)
                                                i(class=val.icon)
                                                span= val.name
                                        else
                                            a.nav-link.dropdown-toggle.active(href='#' + val.href, title=val.name, data-toggle='collapse', aria-expanded='true', aria-controls=val.name)
                                                i(class=val.icon)
                                                span= val.name
                                            ul(class='collapse list-unstyled show' id=val.href)
                                                each value, index in val.child
                                                    li
                                                        if value.name === activeItemChild
                                                            a.nav-link.active(href=value.href, title=value.name)
                                                                i(class="far fa-circle")
                                                                span= value.name
                                                        else
                                                            a.nav-link(href=value.href, title=value.name)
                                                                i(class="far fa-circle")
                                                                span= value.name
                                    else
                                        if val.child == null
                                            a.nav-link(href=val.href, title=val.name)
                                                i(class=val.icon)
                                                span= val.name
                                        else
                                            a.nav-link.dropdown-toggle(href='#' + val.href, title=val.name, data-toggle='collapse', aria-expanded='false', aria-controls=val.name)
                                                i(class=val.icon)
                                                span= val.name
                                            ul(class='collapse list-unstyled' id=val.href)
                                                each value in val.child
                                                    li
                                                        a.nav-link(href=value.href, title=value.name)
                                                            i(class="far fa-circle")
                                                            span= value.name
                                
                    block mainmenu
                        +mainmenu('Inicio','')
                block main
                    main
                        .page-header
                            mixin breadcrumb(params)
                                nav(aria-label='breadcrumb')
                                    ol(class='breadcrumb')
                                        each param in params
                                            if param.href != ''
                                                li(class='breadcrumb-item')
                                                    a.breadcrumb-item(href=param.href)= param.name
                                            else
                                                li(class='breadcrumb-item active', aria-current='page')= param.name
                            block breadcrumb
                                -var items = [{name : "Inicio", href : './dashboard.html'}]
                                +breadcrumb(items)
                            section.page-action
                                h2 #{title}
                                block action
                                    button(type="button", class="btn btn-sm btn-outline-primary") Agregar nuevo +
                        
                        section.row
                            mixin card(card_title, card_subtitle, href)
                                .card.mb-5
                                    .card-block.card-body
                                        if card_title
                                            h4.card-title= card_title
                                        if href
                                            .dropdown.card-config
                                                a.btn.btn-light.btn-sm(href= href)
                                                    em.fa.fa-list-ul
                                                    |  Ver todo
                                        if card_subtitle
                                            h6.card-subtitle.mb-2.text-muted= card_subtitle
                                        if block
                                            block
                                        else
                                            p Ingrese contenido del card.
                            block content
                                .col-md-12.col-lg-8
                                    +card('Título del card')
                                
        block scripts
            script(src='dist/scripts/vendor.js')
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js")
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js")
            //- script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js")
            